@using System.Security.Claims

<ul class="navbar-nav">
    @* Usamos la validación genérica de Cookies, no la de Identity *@
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item">
            @* Mostramos el nombre que guardamos en la cookie desde Firebase *@
            <a class="nav-link text-dark" title="Perfil">¡Hola @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            @* Apuntamos el botón de salir a nuestro propio controlador *@
            <form class="form-inline" asp-controller="Cuenta" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesión</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Cuenta" asp-action="Registro">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Cuenta" asp-action="Login">Iniciar Sesión</a>
        </li>
    }
</ul>